.root{
    -fx-background-color:  #f3f3f3;
}

.toolBar{
   -fx-border-width:1;
    -fx-border-color: black;
}

.main{
}

.result{
}

.labelResult{
    -fx-font: 50px Arial;
}

.panelGridButtonCalculator{
    -fx-space: 5;
}

    .labelCalculator{
        -fx-border-radius: 5;
        -fx-border-width:1;
        -fx-border-color: black;
        -fx-background-color: #f9f9f9;
    }
